<a href="https://colab.research.google.com/github/veroorli/ProjetProg/blob/master/miniprojet_Jehanne.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


28711095 - Jehanne Reboud

# PROJET DM1 : IMDB et YAGO (avec COLAB)


Mini-projet sur la restructuration de données et l'analyse de données.
Voir le moodle pour la date de remise et éventuelles précisions sur le travail à faire.

## Préparation

Vérifier que des ressources de calcul sont allouées à votre notebook est connecté (cf RAM  de disque indiqués en haut à droite) . Sinon cliquer sur le bouton connecter pour obtenir des ressources.

Pour accéder directement aux fichiers stockées sur votre google drive

Ajuster le nom de votre dossier : MyDrive/ens/bdle/DM1

In [ ]:
import os
from google.colab import drive
drive.mount("/content/drive")

drive_dir = "/content/drive/MyDrive/ens/bdle/DM1"
os.makedirs(drive_dir, exist_ok=True)
os.listdir(drive_dir)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

['csvfiles_sample001',
 'csvfiles_sample001.tgz',
 'name.csv.gz',
 'title.csv.gz',
 'yago']

Installer pyspark et findspark :

In [ ]:
!pip install -q pyspark
!pip install -q findspark

     |████████████████████████████████| 212.4 MB 69 kB/s
     |████████████████████████████████| 198 kB 41.8 MB/s
  Building wheel for pyspark (setup.py) ... done

Démarrer la session spark

In [ ]:
import os
# !find /usr/local -name "pyspark"
os.environ["SPARK_HOME"] = "/usr/local/lib/python3.7/dist-packages/pyspark"
os.environ["JAVA_HOME"] = "/usr"

In [ ]:
# Principaux import
import findspark
from pyspark.sql import SparkSession 
from pyspark import SparkConf  

# pour les dataframe et udf
from pyspark.sql import *  
from pyspark.sql.functions import *
from pyspark.sql.types import *
from datetime import *

# pour le chronomètre
import time

# initialise les variables d'environnement pour spark
findspark.init()

# Démarrage session spark 
# --------------------------
def demarrer_spark():
  local = "local[*]"
  appName = "TP"
  configLocale = SparkConf().setAppName(appName).setMaster(local).\
  set("spark.executor.memory", "6G").\
  set("spark.driver.memory","6G").\
  set("spark.sql.catalogImplementation","in-memory")
  
  spark = SparkSession.builder.config(conf = configLocale).getOrCreate()
  sc = spark.sparkContext
  sc.setLogLevel("ERROR")
  
  spark.conf.set("spark.sql.autoBroadcastJoinThreshold","-1")

  # On ajuste l'environnement d'exécution des requêtes à la taille du cluster (4 coeurs)
  spark.conf.set("spark.sql.shuffle.partitions","4")    
  print("session démarrée, son id est ", sc.applicationId)
  return spark
spark = demarrer_spark()

session démarrée, son id est  local-1634507304790

In [ ]:
# on utilise 8 partitions au lieu de 200 par défaut
spark.conf.set("spark.sql.shuffle.partitions", "8")
print("Nombre de partitions utilisées : ", spark.conf.get("spark.sql.shuffle.partitions"))

Nombre de partitions utilisées :  8

In [ ]:
# Optionnel :
# pour l'accès à spark UI : voir https://www.analyticsvidhya.com/blog/2020/11/a-must-read-guide-on-how-to-work-with-pyspark-on-google-colab-for-data-scientists/
# !wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
# !unzip ngrok-stable-linux-amd64.zip
# get_ipython().system_raw('./ngrok http 4050 &')
# !curl -s http://localhost:4040/api/tunnels

Redéfinir la fonction **display** pour afficher le resutltat des requêtes dans un tableau

In [ ]:
import pandas as pd
from google.colab import data_table

# alternatives to Databricks display function.

def display(df, n=100):
  return data_table.DataTable(df.limit(n).toPandas(), include_index=False, num_rows_per_page=10)

def display2(df, n=20):
  pd.set_option('max_columns', None)
  pd.set_option('max_colwidth', None)
  return df.limit(n).toPandas().head(n)

Définir le tag **%%sql** pour pouvoir écrire plus simplement des requêtes en SQL dans une cellule

In [ ]:
from IPython.core.magic import (register_line_magic, register_cell_magic, register_line_cell_magic)

@register_line_cell_magic
def sql(line, cell=None):
    "To run a sql query. Use:  %%sql"
    val = cell if cell is not None else line
    tabRequetes = val.split(";")
    for r in tabRequetes:
        if len(r) > 2:
          derniere = spark.sql(r)
    return display(derniere)

## Accès aux données

URL pour accès aux datasets

In [ ]:
# URL du dossier PUBLIC_DATASET contenant des fichiers de données pour les TP
# ---------------------------------------------------------------------------
# en cas de problème avec le téléchargement des datasets, aller directement sur l'URL ci-dessous
PUBLIC_DATASET_URL = "https://nuage.lip6.fr/s/H3bpyRGgnCq2NR4" 
PUBLIC_DATASET=PUBLIC_DATASET_URL + "/download?path="

print("URL pour les datasets ", PUBLIC_DATASET_URL)

URL pour les datasets  https://nuage.lip6.fr/s/H3bpyRGgnCq2NR4

#### IMDB
Télécharger les fichiers de IMDB directement sur le cluster databricks, sans passer par votre ordinateur personnel.

##### Sample: échantillon de la base IMDB

In [ ]:
import os
from urllib import request
import tarfile

imdb_dir = drive_dir

url = PUBLIC_DATASET + "/imdb/vldb2015/csvfiles_sample001.tgz"
# temp = "/temp"
local_file = imdb_dir + "/csvfiles_sample001.tgz"

os.makedirs(imdb_dir, exist_ok=True)

if(os.path.isfile(local_file)):
  print("file is already downloaded")
else:
  print("downloading from URL: ", url, "save in : ", local_file)
  request.urlretrieve(url, local_file)
  os.chdir(imdb_dir)
  tar = tarfile.open(local_file)
  tar.extractall()
  tar.close()

# Liste des fichiers de IMDB
dir = imdb_dir + "/csvfiles_sample001/"
os.listdir(dir)

file is already downloaded

['title.csv',
 'cast_info.csv',
 'movie_info.csv',
 'person_info.csv',
 'name.csv',
 'movie_companies.csv',
 'company_name.csv',
 'role_type.csv',
 'kind_type.csv',
 'company_type.csv',
 'info_type.csv']

##### Données complètes: name_all et title_all
Télécharger le fichier complet des noms de personnes et les titres de films

In [ ]:
import os
def load_IMDB_file(file):
  if(os.path.isfile( imdb_dir + "/" + file)):
    print(file, "is already stored")
  else:
    url = PUBLIC_DATASET + "/imdb/vldb2015/csvfiles/" + file
    print("downloading from URL: ", url, "save in : " + imdb_dir + "/" + file)
    request.urlretrieve(url , imdb_dir + "/"  + file)

load_IMDB_file("name.csv.gz")
load_IMDB_file("title.csv.gz")

# Liste des fichiers de IMDB
os.listdir(imdb_dir)

name.csv.gz is already stored
title.csv.gz is already stored

['csvfiles_sample001',
 'csvfiles_sample001.tgz',
 'name.csv.gz',
 'title.csv.gz',
 'yago']

In [ ]:
# name_all

schema_name = """
  id int,
  name string,
  imdb_index string,
  imdb_id int,
  gender string,
  name_pcode_cf string,
  name_pcode_nf string,
  surname_pcode string,
  md5sum string
"""

name_all = spark.read.csv(path = imdb_dir + "/name.csv.gz", schema = schema_name)
name_all.createOrReplaceTempView("NameAll")
display(name_all)

In [ ]:
# title_all

schema_title = """
          id INT, 
          title STRING, 
          imdb_index STRING, 
          kind_id INT, 
          production_year INT, 
          imdb_id INT, 
          phonetic_code STRING, 
          episode_id STRING,
          season_nr INT, 
          episode_nr INT, 
          series_years STRING, 
          md5sum STRING
        """
title_all = spark.read.csv(path = imdb_dir + "/title.csv.gz", schema = schema_title)
title_all.createOrReplaceTempView("TitleAll")
display(title_all)

#### YAGO
Télécharger les fichiers de YAGO

In [ ]:
YAGO_dir = drive_dir + "/yago"

os.makedirs(YAGO_dir, exist_ok=True)

def yagoLoad(file):
  url = PUBLIC_DATASET + "/yago/yago4_2020/" + file
  local_file = YAGO_dir + "/" + file

  if(os.path.isfile( YAGO_dir + "/" + file)):
    print(file, "is already stored ")
  else:
    print("downloading from URL: ", url, "save in : ", local_file)
    request.urlretrieve(url, local_file)
    
yagoLoad("yago-actor-facts.snappy.orc")
yagoLoad("yago-person.snappy.orc")

# Liste des fichiers de YAGO
os.listdir(YAGO_dir)

yago-actor-facts.snappy.orc is already stored
yago-person.snappy.orc is already stored

['yago-actor-facts.snappy.orc', 'yago-person.snappy.orc']

##### Les personnes dans Yago

In [ ]:
yagoPerson = spark.read.orc(path = YAGO_dir + "/yago-person.snappy.orc")
display(yagoPerson)

##### Les faits des acteurs dans Yago

In [ ]:
actorFacts = spark.read.orc(path = YAGO_dir + "/yago-actor-facts.snappy.orc")
display(actorFacts)

## Définir les tables IMDB

Le dossier contenant les fichiers csv de IMDB

In [ ]:
dir = drive_dir + "/csvfiles_sample001/"

### Les tables initiales

#### Title
La table Title affecte un identifiant id à un film

In [ ]:
schema_title = """
          id INT, 
          title STRING, 
          imdb_index STRING, 
          kind_id INT, 
          production_year INT, 
          imdb_id INT, 
          phonetic_code STRING, 
          episode_id STRING,
          season_nr INT, 
          episode_nr INT, 
          series_years STRING, 
          md5sum STRING
        """

title = spark.read.csv(path = dir + "title.csv", schema = schema_title).persist()
title.createOrReplaceTempView("Title")
display(title)

#### Kind_Type et Info_Type
* La table Kind_type
* La table Info_type indique la nature d'un attribut d'information. 

Sert dans Movie_Info, Person_Info

In [ ]:
#============
# Kind_Type
#============
schema_kind_type = "id INT, kind STRING"

kind_type = spark.read.csv(path = dir + "kind_type.csv", schema = schema_kind_type).persist()

kind_type.createOrReplaceTempView("Kind_Type")
# kind_type.printSchema()
# display(kind_type)



#==============
# Info_Type
#==============
schema_info_type = "id INT, info STRING"

info_type = spark.read.csv(path = dir + "info_type.csv", schema = schema_info_type).persist()

info_type.createOrReplaceTempView("Info_Type")
#info_type.printSchema()

display(info_type)

#### Movie_info

In [ ]:
#==============
# Movie_Info
#==============
schema_movie_info = """
    id int,
    movie_id int,
    info_type_id int,
    info string,
    note string
"""

movie_info = spark.read.csv(path = dir + "movie_info.csv", schema = schema_movie_info).persist()

movie_info.createOrReplaceTempView("Movie_Info")
#movie_info.printSchema()

display(movie_info)

In [ ]:
%%sql
select * from Movie_Info where movie_id = 3981

In [ ]:
%%sql
select * from Movie_Info where note is not null

#### Cast_Info

In [ ]:
#==============
# Cast_Info
#==============
schema_cast_info = """
  id int,
  person_id int,
  movie_id int,
  person_role_id int,
  note string,
  nr_order int,
  role_id int
"""

cast_info = spark.read.csv(path = dir + "cast_info.csv", schema = schema_cast_info).persist()

cast_info.createOrReplaceTempView("Cast_Info")
#cast_info.printSchema()

display(cast_info)

#### Role_type

In [ ]:
#=============
# Role_Type
#=============
schema_role_type = "id INT, role STRING"

role_type = spark.read.csv(path = dir + "role_type.csv", schema = schema_role_type).persist()

role_type.createOrReplaceTempView("Role_Type")
#role_type.printSchema()

display(role_type)

#### Name
La table Name affecte un identifiant id à une personne

In [ ]:
#==============
# Name 
#==============
schema_name = """
  id int,
  name string,
  imdb_index string,
  imdb_id int,
  gender string,
  name_pcode_cf string,
  name_pcode_nf string,
  surname_pcode string,
  md5sum string
"""

name = spark.read.csv(path = dir + "name.csv", schema = schema_name).persist()

name.createOrReplaceTempView("Name")
#name.printSchema()

display(name)

#### Person_Info

In [ ]:
#==============
# Person_Info
#==============
schema_person_info = """
  id int,
  person_id int,
  info_type_id int,
  info string,
  note string
"""

person_info = spark.read.csv(path = dir + "person_info.csv", schema = schema_person_info).persist()
person_info.createOrReplaceTempView("Person_Info")

display(person_info)

#### Movie_Companies

In [ ]:
#==============
# Movie_Companies
#==============
schema_movie_companies = """
    id int,
    movie_id int,
    company_id int,
    company_type_id int,
    note string
"""

movie_companies = spark.read.csv(path = dir + "movie_companies.csv", schema = schema_movie_companies).persist()

movie_companies.createOrReplaceTempView("Movie_Companies")
#movie_companies.printSchema()

display(movie_companies)

#### Company_Name

In [ ]:
schema_company_name = """
    id int,
    name string,
    country_code string,
    imdb_id int,
    name_pcode_nf string,
    name_pcode_sf string,
    md5sum string
"""

company_name = spark.read.csv(path = dir + "company_name.csv", schema = schema_company_name)
company_name.createOrReplaceTempView("Company_Name")
#company_name.printSchema()

display(company_name)

#### Company_type

In [ ]:
#==============
# Company_Type
#==============
schema_company_type = "id INT, kind STRING"

company_type = spark.read.csv(path = dir + "company_type.csv", schema = schema_company_type).persist()
company_type.createOrReplaceTempView("Company_Type")
#company_type.printSchema()

display(company_type)

### Detail sur les personnes et les oeuvres

#### TitleDetail

In [ ]:
%%sql
create or replace temp view TitleDetail as
select t.id, t.title, t.production_year, k.kind, it.info as property, m.info as value
from Title t, Movie_Info m, Info_type it, Kind_Type k
where t.id = m.movie_id 
and m.info_type_id = it.id
and t.kind_id = k.id
;

select * 
from TitleDetail t
order by  t.production_year desc, t.title
limit 100;

Mémoriser le résultat de TitleDetail pour éviter de le calculer plusieurs fois

In [ ]:
%%sql
cache table TitleDetail

#### NameDetail

In [ ]:
%%sql
create or replace temp view NameDetail as
select n.id, n.name, n.gender, i.info as property, p.info as value
from Name n, Person_Info p, Info_type i
where n.id = p.person_id
and p.info_type_id = i.id
;
 
select * 
from NameDetail n
where n.name like 'Smi%'
order by n.name, n.property
limit 100;

Mémoriser le résultat de NameDetail pour éviter de le calculer plusieurs fois

In [ ]:
%%sql
cache table NameDetail;

## QUESTIONS

### Exercice 1: Extraction d'information

Définir ces relations apportant des informations structurées sur les personnes. Le schéma de chaque table est donné à titre indicatif et vous pouvez l'adapter et le compléter si nécessaire.

#### Question 1 : Salary
 **Salary** (id, name, titleId, titleName, salary, extra, currency) avec
  - *salary* est le salaire perçu par une personne pour un film
  - *frequency* indique si le salaire est pour le film, un épisode de la série, une semaine de tournage, etc...
  - *extra* est un complément de salaire (exple pourcentage sur le revenu du film)
  - *currency* est la devise du salaire
 

Voir la propriété *salary history*. Le champ *titleId* peut être nul si aucune correspondance n'est trouvée dans la table TitleDetail. Le cas échéant, essayer de trouver une correspondance avec le fichier *title_all* contenant tous les films.

In [ ]:
%%sql

select * from NameDetail
where property = 'salary history';

# Q1: Salary 

Pour construire la Table Salary:

-
on prend d'abord les valeurs des id et noms (name) des Personnes de la table Namedetail ayant la propriété 'salary history' que l'on appelle nameId et name.

-
Le titleName, titleYear, currency ,salary, frequency et extra sont contenus dans value de Namedetail avec la propriété 'salary history' tous exprimés dans une chaine de caractères de type suivante :	_"Lois & Clark: The New Adventures of Superman" (1993)_ (qv)::$60,000/episode.
Pour extraire ces morceaux de value on utilise les fonctions regexp_extract (et trim pour enlever les espaces en aval et en amont de trop.)

-
Les Id des titres correspondants aux titleName sont en principe  contenus dans TitleDetail. Pour les retrouver,on fait une jointure entre Titledetail et Namedetail sur les  noms de titres (titleName) extraits de value de Namedetail.
Les id correspondant au noms titleName ne sont pas tous présents dans la table Titledetail. Or Titledetail est un sous échantillon de TitleAll.
Donc si les id sont présents (not null) alors on les prend sinon (si il n'y a pas de correspondance) on selectionne dans la table TitleAll les id manquant qui correspondent aux titleName.

In [ ]:
%%sql

create or replace temp view Salary as
select n.id as nameId, n.name, 
trim(regexp_extract(n.value, '_"?([^\\(\\"]+)"? \\(', 1)) as titleName,
regexp_extract(n.value, '_([^\\(]+) \\(([0-9]*).*\\)_', 2) as titleYear, 

if (n.id is not null,n.id,
  (select first(ta.id) from TitleAll  ta where trim(regexp_extract(n.value, '_"?([^\\(\\"]+)"? \\(', 1)) = ta.title) 
) as titleId,

regexp_extract(n.value, '[^:]+::([^0-9]*)([0-9,m]+)', 2) as salary,
regexp_extract(n.value, '[^:]+::([^0-9]*)([0-9,m]+).*(/|per )([^ +]+)*', 4) as frequency,

if(regexp_extract(n.value, '[^:]+::([^0-9]*)([0-9,m]+)', 1)='',
    regexp_extract(n.value, '[^:]+::([^0-9]*)([0-9,m]+) ([^ +]+)', 3), 
    regexp_extract(n.value, '[^:]+::([^0-9]*)(([0-9,]+|(m ))*)', 1)) as currency,
  
regexp_extract(n.value, '[^:]+::([^0-9]*)([0-9,m]+)(([^+]*\\+)|(.*plus))([^\\)]*)', 6) as extra
from NameDetail n

left join TitleDetail on trim(regexp_extract(n.value, '_"?([^\\(\\"]+)"? \\(', 1)) = TitleDetail.title 
where n.property='salary history';

select * from Salary;

#### Question 2 : Height
 **Height**(id, name, heightInCm) qui recense la taille des personnes de manière exploitable, en les reconvertissant en tailles en cm, alors que les entrées de la base sont  en plusieurs unités.

In [ ]:
%%sql

select * from NameDetail
where property = 'height';

#Q2: Height

Pour construire la Table Height:


On prend d'abord les colonnes des id et noms (name) des Personnes de la table Namedetail ayant la propriété 'height'.

Comme visualisé dans la table précédente, la hauteur contenue dans value de Namedetail avec la propriété 'height',  peut être exprimée sous les 4 formes suivantes. On cherche à toutes les convertir en centimètre et à les afficher dans heightInCm.


-cm : si on localise 'cm' on extrait la valeur avant et on la laisse intacte
-

-feet' : si il n'y a pas de inch (pas de ") on prend la valeur avant les ' que l'on converti en nombre entier (cast()) que l'on multiplie par 30.48 pour convertir en cm
-

-feet' inch 1/2" :si on localise 1/2 le calcul est : ( valeur avant '+ (valeur avant"/12)+ 1/2) *30.48 = valeur en cm

-
 feet'inch" :sinon ( feet '+ (inch"/12)) *30.48 = valeur en cm

In [ ]:
%%sql

create or replace temp view Height as
select n.id, n.name, 
-- cm
if (locate('cm', n.value)>0, regexp_extract(n.value, "(.+) cm", 1),
-- feets' 
if (locate('"', n.value)=0 , cast(regexp_extract(n.value, "(.+)'", 1) as int)*30.48,
--feet' inch 1/2"
if (locate('1/2', n.value)>0, (cast(regexp_extract(n.value, "(.+)' ([0-9]+)", 1) as int)+ (cast(regexp_extract(n.value, "(.+)' ([0-9]+)", 2) as int)+0.5)/12)*30.48,
-- feet'inch"
(cast(regexp_extract(n.value, "(.+)' ?([0-9]+)", 1) as int)+ cast(regexp_extract(n.value, "(.+)' ?([0-9]+)", 2) as int)/12)*30.48))) as height_in_cm
from NameDetail n
where property = 'height';


select * from Height;

#### Question 3 : Magazine

 **MagazineCover**(id, name, magazine, country, day, month, year) donnant le nom du magazine dans lequel la personne est sur la couverture, avec le pays du magazine et la date de parution. Voir la propriété *magazine cover photo*.

In [ ]:
%%sql

select * from NameDetail
where property = 'magazine cover photo';

# Q3: Magazine
Pour construire la Table Magazine:


On prend d'abord les colonnes des id et noms (name) des Personnes de la table Namedetail ayant la propriété 'magazine cover photo'.

Comme visualisé dans la table précédente, le nom du magazine (magazine), le pays (country),  et la date (day, month, year) sont contenu dans des chaines de caractères de value.


-magazine: on extrait le nom entre " " (1ère cellule)
-

-country : on extrait entre parenthèses (3 ème cellule)
-

date: ils n'apparaissent pas dans chaque chaine de value,

jours : extraction 1 ou 2 chiffres

mois : lettres après jour

année: 4 chiffres

In [ ]:
%%sql

create or replace temp view MagazineCover as
select n.id, n.name,

-- magazine
regexp_extract(n.value, '\\"(.+)\\"( \\(([^\\)]*)\\))*', 1) as magazine,
-- country 
regexp_extract(n.value, '\\"(.+)\\"( \\(([^\\)]*)\\))*', 3) as country,
-- date : jour,mois,année
regexp_extract(n.value, '\\"(.+)\\"( \\(([^\\)]*)\\))*, (Vol\\. [0-9]+, )?(Iss\\. [0-9]+, )?([0-9]{1,2}) ', 6) as day,
regexp_extract(n.value, '\\"(.+)\\"( \\(([^\\)]*)\\))*, (Vol\\. [0-9]+, )?(Iss\\. [0-9]+, )?[^a-zA-Z]*([a-zA-Z\\-/]*)( [0-9]|$|,)', 6) as month,
regexp_extract(n.value, '\\"(.+)\\"( \\(([^\\)]*)\\))*, (Vol\\. [0-9]+, )?(Iss\\. [0-9]+, )?[^a-zA-Z]{0,2}[a-zA-Z \\-/]*[^a-zA-Z]{0,2}(, )?([0-9]{4})', 7) as year

from NameDetail n
where property = 'magazine cover photo';

select * from MagazineCover;

#### Question 4 : Trivia

Deux tables détaillant les anecdotes connues sur des personnes, voir les valeurs de la propriété *trivia* d'une personne : 
- **TitleTrivia** (fromPersonId, fromPersonName, toTitleId, toTitleName, triviaText)
- **NameTrivia** (fromPersonId,  fromPersonName, toPersonId, toPersonName, triviaText)
    
Indications :  

Pour le champ toTitleId dans TitleTrivia : si le film n'est pas référencé dans la table TitleDetail, essayer de trouver une correspondance dans le fichier contenant tous les films (title_full).

Pour le champ toPersonId dans NameTrivia : si la personne n'est pas référencée dans la table NameDetail, essayer de trouver une correspondance dans le fichier contenant toutes les personnes (name_full).

# Q4: NameTrivia

Pour construire la Table NameTrivia:

-
On prend d'abord les valeurs des id (fromPersonId) et noms (fromPersonName) des Personnes de la table Namedetail ayant la propriété 'trivia' et qui contienne ' (qv)' dans leur colonne value. En effet, dans la colonne value, si une personne est citée (toPersonName) alors le nom est suivi de ' (qv)'.On prend aussi la colonne de value que l'on renomme triviaText.

-
ToPersonName est contenu dans value entre quote et suivi de' (qv)'. ex: 'Youssef Qissi' (qv).
Pour extraire ces morceaux de value entre ' ' et avant (qv) on utilise les fonctions regexp_extract (et trim pour enlever les espaces en aval et en amont de trop.)


-
Les ToPersonId qui correspondent aux toPersonName extrait de value sont en principe  contenus dans Namedetail. Pour les retrouver, on fait une requête sur les name de Namedetail qui correspondent aux toPersonName.
Les id correspondant aux toPersonName ne sont pas tous présents dans la table NameDetail. Or Namedetail est un sous échantillon de NameAll.
Donc si les id sont présents dans NameDetail(not null) alors on les prend sinon (si il n'y a pas de correspondance) on selectionne dans la table NameAll les id manquant qui correspondent aux toPersonName. On aujoute un first à select car il s'agit d'identifiant (unique).

In [ ]:
%%sql

create or replace temp view NameTrivia as 
select n.id, n.name,
n.value as triviaText,
trim(regexp_extract(n.value, "\\'([^\\']+)\\' \\(qv\\)", 1)) as toPersonName,
-- recherche de l'id dans Namedetail sinon Nameall
if ((select first(n2.id) from NameDetail n2 where n2.name = trim(regexp_extract(n.value, "\\'([^\\']+)\\' \\(qv\\)", 1))) is not null,
    (select first(n2.id) from NameDetail n2 where n2.name = trim(regexp_extract(n.value, "\\'([^\\']+)\\' \\(qv\\)", 1))), 
   (select first(na.id) from NameAll na where trim(regexp_extract(n.value, "\\'([^\\']+)\\' \\(qv\\)", 1)) = na.name))
   as toPersonId

from NameDetail n
where n.property = 'trivia' and n.value like '%(qv)%';

select * from NameTrivia;

#### Question : 5 Lien IMDB-YAGO

On suppose que certaines personnes sont présentes à la fois dans IMDB et dans YAGO mais elles ne sont pas structurées de la même façon.

5a) Compléter les Personnes existant dans NameDetail avec des informations venant de yago (voir **yagoPerson** et **actorFacts**). 
Pour cela, définir la relation qui donne le lieu de naissance et le conjoint (ou la conjointe) d'une personne :

  - **NameYago** (id, name, yagoName, yagoBirthPlace, yagoSpouse) 

5b) Compléter le contenu de NameYago pour les personnes de IMDB existant dans *name_full*.

# Q5: Preparation NameYago
Pour construire la Table NameYago:

-
On crée d'abord des tables YagoPerson et ActorFacts en python puis en sql YagoPersonTable et ActorFactsTable. Pour simplifier les écritures, on extrait avec regexp_extract() les données variantes des liens . 

Par exemple, pour <http://yago-knowledge.org/resource/Heywood_L._Edwards> et <http://yago-knowledge.org/resource/Ramanichandran> on extrait Heywood_L._Edwards et Ramanichandran car le chemin <http://yago-knowledge.org/resource/> est invariant.

La table YagoPersonTable contient des noms de personnes et ActorFactsTable contient des noms avec des informations supplémentaires correspondantes : property correspond à la nature de la donnée ( exemples 'birthplace' et 'spouse')  et value à la valeur.

In [ ]:
#on cree des tables  python
yagoPerson.createOrReplaceTempView("YagoPerson")
actorFacts.createOrReplaceTempView("ActorFacts")

In [ ]:
%%sql
--tables Sql
--exctraction des valeurs dans les liens
--yagoPersonTable
create or replace temp view YagoPersonTable as
select regexp_extract(subject, '<http://yago-knowledge.org/resource/([^>]*)>') as name
from yagoPerson;

-- ActorFactsTable
create or replace temp view ActorFactsTable as
select regexp_extract(subject, '<http://yago-knowledge.org/resource/([^>]*)>') as name,
regexp_extract(property, '<http://schema.org/([^>]*)>') as property,
regexp_extract(object, '<http://yago-knowledge.org/resource/([^>]*)>') as value
from actorFacts;

#Q5:NameYago 
On cherche à afficher l'id, le nom, la date de naissance et le nom du conjoint des personnes contenus dans NameYago et Namedetails.

Pour cela :

1)Requêtes sur ActorFactsTable: On selectionne dans b les noms et valeurs correspondant à la propriété 'birthPlace'. De même pour 'spouse' (conjoint) dans s.

-
2)On fait une jointure entre les tables Namedetail et ActorFactsTable sur les noms qui sont dans Namedetail et dans ActorFactsTable avec la propriété 'birthPlace' ou 'spouse'.

3) On selectionne sur cette jointure les id et noms de Namedetails, les noms de Yago (YagoName) ainsi que leur date de naissance (b.place) ou nom de conjoint.(s.spouse) de ActorFactsTable. 

5b) On execute le même code avec Nameall, pour compléter les colonnes du  tableau NameYago avec des noms n'appartenant pas à NameDetail.

In [ ]:
%%sql

create or replace temp view NameYago as
select distinct n.id, n.name,
 b.name as yagoName, b.place as yagoBirthPlace,
 s.spouse as yagoSpouse
from NameDetail n,
--lieu de naissance
(select name, value as place from ActorFactsTable where property = 'birthPlace') as b,
-- conjoint
(select name, value as spouse from ActorFactsTable where property = 'spouse') as s

where n.name = b.name and n.name = s.name;

select * from NameYago;

In [ ]:
%%sql
--complète avec donnees Nameall
create or replace temp view NameYago as
select distinct n.id, n.name,
 b.name as yagoName, b.place as yagoBirthPlace,
 s.spouse as yagoSpouse
from NameAll n,
--lieu de naissance
(select name, value as place from ActorFactsTable where property = 'birthPlace') as b,
-- conjoint
(select name, value as spouse from ActorFactsTable where property = 'spouse') as s
where n.name = b.name and n.name = s.name;

select * from NameYago;

### Exercice 2 : Analyse

#### Question 6 : Restructuration
L'objectif de cette question est de savoir définir une structure complexe contenant des attributs qui ne sont pas des valeurs simples mais les listes, des tuples, des listes de tuples, ...

Définir une table **Film** (id, titre, roles, paysSalles) avec 
 - *roles* est une liste de tuples (acteur, nom, rang) où rang est le numéro d'ordre du rôle (attribu *nr_order*)
 - *paysSalles* est la liste des pays où le film est sorti en salles, triée par revenu dans le pays

# Q6: Role (Movie_Id,acteur, nom, rang)

On cherche à réunir dans la liste roles :

- l'identifiant id de l'acteur contenu dans NameDetail

- le nom du rôle , role contenu dans Role_Type

- le numéro d'ordre du rôle, nr_order dans Cast_Info

Pour cela on effectue il faut effectuer 2 jointures: 

- une jointure entre Namedetail et Cast_info sur identité de la personne Cast_info.person_id=Namedetail.id

- une jointure entre Role_Type et Cast_Info sur l'identité du rôle : Cast_Info.role_id=Role_Type.id

On collecte les trois informations en liste de truplets avec collect_list() dans roles que l'on distinct pour éliminer les doublons, et on affiche l'identifiant du film qui nous servira lors des jointures pour le Film.

In [ ]:
%%sql
create or replace temp view Role as 
select c.movie_id, collect_list(distinct (n.id, r.role,c.nr_order)) as roles
from NameDetail n, Role_Type r, Cast_Info c
where n.id = c.person_id and c.role_id = r.id
group by c.movie_id;

select * from Role

# Q6: Pays

Les pays sont contenus dans Movie_Info dans la chaine de caractères info (que l'on extrait à l'aide de regexp_extract()), avec la caractéristique info_type_id=16.

Pour associer le pays à chaque film on effectue une jointure entre Movie_Info et Cast_Info sur l'identifiant du film: 
Cast_Info.movie_id= Movie_Info.movie_id

In [ ]:
%%sql
create or replace temp view Pays as
select c.movie_id,  collect_list(distinct regexp_extract(m.info, '([^:]+)')) as paySalles
from Cast_Info c, Movie_Info m
where m.movie_id = c.movie_id and m.info_type_id=16
group by c.movie_id;

select * from Pays

#Q6: Film (id, titre, roles, paySalles)

On cherche à réunir dans la table Film :

- le titre (title) du film contenu dans TitleDetail 

- la liste roles de Role

- le Pays dans lequelles le film a été diffusé PaySalles dans Pays
-l'identifiant du film id contenu dans toutes les tables précédentes ,( élément essentiel pour les jointures)


Pour cela  il faut effectuer 3 jointures: 

- une jointure entre TitleDetail et Cast_info sur l'identifiant du film Cast_info.movie_id=TitleDetail.id

- une jointure entre Role et Cast_info sur l'identifiant du film Cast_info.movie_id=Role.movie_id

- une jointure entre Pays et Cast_info sur l'identifiant du film Cast_info.movie_id=Pays.movie_id

In [ ]:
%%sql

create or replace temp view Film as
select distinct c.movie_id as id, t.title as titre, r.roles, p.paySalles as paysSalles
from  Role r, Pays p, Cast_Info c, TitleDetail t
where c.movie_id = t.id and c.movie_id = r.movie_id and c.movie_id = p.movie_id;

select * from Film

#### Question 7 : Fenêtres
On considère la table **RevenuWeekEndFilm**(id, titre, pays, jour, mois, année, revenu, écrans) dont les informations proviennent de la propriété *weekend gross* de TitleDetail
* un week-end est défini par les attributs (jour, mois, année)
* l'attribut *écrans* correspond à la quantité associée au terme *screens*

Exprimer les requêtes :
 - 7a) Pour chaque mois, le revenu total des films sortis aux USA durant les 3 derniers mois. Le schéma du résultat est : 
     - (mois, année, revenuMoisCourant, revenu3DerniersMois)
 - 7b) Pour chaque pays, le classement des films par revenu total. Le schéma du résultat est :
      - (pays, id, titre, revenuTotal, classement)
 - 7c) Pour chaque film, la date de début et de fin des périodes où les revenus du week end représentent au moins 10% du revenu total annuel du film. Le schéma du résultat est :
     - (id, titre, revenuAnnuel, annee, mois, jour, revenuWeekEnd, numéroPériode)

In [ ]:
%%sql
select *
from TitleDetail
where property = 'weekend gross';

#Préparation question 7: 
RevenuWeekEndFilm(id, titre, pays, jour, mois, année, revenu, écrans)

On extrait presque toutes les informations contenues dans TitleDetail avec la prorpiété 'weekend gross'.
On prend la colonne id,title,et les informations contenue dans values.

In [ ]:
%%sql

-- RevenuWeekEndFilm
create or replace temp view RevenuWeekEndFilm as
select id, title as titre,
regexp_extract(value, '([^0-9]*)([0-9,m]+) \\(([^\\)]*)\\)', 1) as devise,
regexp_extract(value, '([^0-9]*)([0-9,m]+) \\(([^\\)]*)\\)', 3) as pays,
to_date(regexp_extract(value, '([^0-9]*)([0-9,m]+) \\(([^\\)]*)\\) \\(([0-9]{0,2} [a-zA-Z]* [0-9]{0,4})\\)', 4), 'd MMMM yyyy') as date,
cast(regexp_replace(regexp_extract(value, '([^0-9]*)([0-9,m]+) \\(([^\\)]*)\\)', 2),',','') as int) as revenu,
cast(regexp_extract(value, '([^0-9]*)([0-9,m]+) \\(([^\\)]*)\\) \\(([0-9]{0,2}) ([a-zA-Z]*) ([0-9]{0,4})\\)', 4) as int) as jour,
month(to_date(regexp_extract(value, '([^0-9]*)([0-9,m]+) \\(([^\\)]*)\\) \\(([0-9]{0,2}) ([a-zA-Z]*) ([0-9]{0,4})\\)', 5), "MMMM")) as mois,
cast(regexp_extract(value, '([^0-9]*)([0-9,m]+) \\(([^\\)]*)\\) \\(([0-9]{0,2}) ([a-zA-Z]*) ([0-9]{0,4})\\)', 6) as int) as annee,
-- Il n'ya pas toujours de screens
if (regexp_extract(value, '([^0-9]*)([0-9,m]+) \\(([^\\)]*)\\) \\(([0-9]{0,2}) ([a-zA-Z]*) ([0-9]{0,4})\\) \\(([0-9]+) screen\\)', 7) != '',
cast(regexp_extract(value, '([^0-9]*)([0-9,m]+) \\(([^\\)]*)\\) \\(([0-9]{0,2}) ([a-zA-Z]*) ([0-9]{0,4})\\) \\(([0-9]+) screen\\)', 7) as int), 
0) as ecrans
from TitleDetail
where property = 'weekend gross';

select *
from RevenuWeekEndFilm

# Q 7.A
- (mois, année, revenuMoisCourant, revenu3DerniersMois)
1)revenuMoisCourant

On selectionne le mois de la date et  l'année de la date.
Ensuite on regroupe les revenus dans le pays "USA" (where pays= 'USA') par année et par mois (group by year(date), month(date)) et on somme sur les revenus de ces nouveaux groupes (sum(revenu)), ce qui donne le revenu total des films aux US du mois courant, revenuMoisCourant

In [ ]:
%%sql

create or replace temp view T_revenuMoisCourant as 
select year(date) as annee, month(date) as mois, sum(revenu) as revenuMoisCourant
from RevenuWeekEndFilm
where pays = 'USA'
group by year(date), month(date)
order by year(date), month(date);

select * from T_revenuMoisCourant;

# Q 7.B
(pays, id, titre, revenuTotal, classement)

On calcule d'abord le revenuTotal en sommant les revenus par pays par film.
Ensuite on trie et on classe le revenuTotal des films dans l'ordre décroissant dans chaque pays que l'on affiche dans une colonne classement. Donc dans chaque pays les films sont ordonnés par revenu Total décroissant. Par exemple le classement 1 correspond au film au revenu le plus fort dans un pays donné.

In [ ]:
%%sql
with T as (
-- revenu total 
select pays, id, titre, sum(revenu) as revenuTotal
from RevenuWeekEndFilm
group by pays, id, titre
order by pays, id, titre, sum(revenu) desc)

-- classement
select pays, id, titre, revenuTotal, rank() over (partition by pays order by revenuTotal desc) as classement
from T
order by pays, classement